<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="card shadow-lg border-0 p-3">
                    <div class="card-body">
                        <h1 class="text-center py-1 animate__animated animate__tada">Forgot Password</h1>
                        <p class="text-center">Enter your account details</p>
                        <form  action="" [formGroup]="forgotForm">
                            <div class="form-group input_group">
                                <input type="email" placeholder="" autocomplete="off" formControlName="email">
                                <label>Email</label>
                                <i class="fa fa-envelope float-right"></i>
                                <span class="text-danger" *ngIf="forgotForm.hasError('required' , 'email') && forgotForm.controls['email'].dirty">
                                    Email is required.
                                </span>
                                <span class="text-danger" *ngIf="forgotForm.hasError('email' , 'email')">
                                    Invalid email format.
                                </span>
                            </div>
                            <div class="form-group pt-3">
                                <button type="submit" class="btn btn-dark btn-lg btn-block rounded-pill" (click)="submit()" [disabled]="forgotForm.invalid" [class.disabled]="forgotForm.invalid">Submit</button>
                            </div>
                            <p class="text-center">Not registered yet?
                                <span>
                                    <a href="javascript:void(0);" routerLink="/register">Sign Up!</a>
                                </span>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
