<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="card shadow-lg border-0 p-3">
                    <div class="card-body">
                        <h1 class="text-center py-1 animate__animated animate__tada">Reset Password</h1>
                        <form  action="" [formGroup]="resetForm">
                            <div class="form-group input_group">
                                <div class="password_field">
                                    <input [type]="changetype?'password' : 'text'"  placeholder="" minlength="8" formControlName="password">
                                    <label>Password</label>
                                    <i class="fa fa-lock" [ngClass]="visible?'fa fa-lock':'fa fa-unlock'" (click)="viewPass()"></i>
                                </div>
                                <span class="text-danger" *ngIf="resetForm.hasError('required' , 'password') && resetForm.controls['password'].dirty">
                                    Password is required.
                                </span>
                                <span class="text-danger" *ngIf="resetForm.hasError('minlength', 'password') && resetForm.controls['password'].dirty">
                                    Password should contain atleast 8 characters.
                                </span>
                            </div>
                            <div class="form-group input_group">
                                <div class="password_field">
                                    <input [type]="changetype1?'password' : 'text'" placeholder="" formControlName="confirmPassword">
                                    <label>Confirm Password</label>
                                    <i class="fa fa-lock" [ngClass]="visible1?'fa fa-lock':'fa fa-unlock'" (click)="viewPass1()"></i>
                                </div>
                                <span class="text-danger" *ngIf="resetForm.hasError('required' , 'confirmPassword') && resetForm.controls['confirmPassword'].dirty">
                                    Confirm Password is required.
                                </span>
                                <span class="text-danger" *ngIf="resetForm.hasError('confirmPasswordValidator' , 'confirmPassword')">
                                    Password didn't matched!.
                                </span>
                            </div>
                            <div class="form-group pt-3">
                                <button type="submit" class="btn btn-dark btn-lg btn-block rounded-pill" (click)="reset()" [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid || resetForm.hasError('confirmPasswordValidator' , 'confirmPassword')">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>